.selection_buttons{
  height:25px;
  width:70px;
}
.color_selection_buttons{
  height:25px;
  width:150px;
}
.text_input{
  margin-top:10px;
  height:20px;
  width:60px;
}

img {
  width: 20px;
  height: 20px;
}