.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -300px;
  }

  .search-input {
    width: 300px;
    height: 20px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 30px;
  }