.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #000000;
  }

  .search-input {
    width: 300px;
    height: 20px;
    font-size: 20px;
    border: 2px solid #CCC;
    border-radius: 25px;
    padding: 10px 60px 10px 15px; 
    margin-bottom: 30px;
    background-image: url('./images/magnifying-glass.png'); 
    background-repeat: no-repeat; 
    background-position: right 10px center;
    background-size: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .search-input:focus {
    width: 400px;
    box-shadow: 0 0 10px rgba(33, 150, 243, 0.5);
  }

  .search-input:hover {
    cursor: pointer;
    animation: pulse 1s ease-in-out infinite alternate;
  }

  @keyframes pulse {
    0% {
      background-size: 20px;
    }
    50% {
      background-size: 25px;
    }
    100% {
      background-size: 20px;
    }
  }

  .searchtitle {
    margin-top: 10px;
  }

  